<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- Portal gateway user roles server parameters -->
        <add key="UserRolesFilePath" value="C:\Data\User-Roles.csv"/>
        <add key="UserRolesDataFilePath" value="C:\Data\User-Roles-Alternate.csv"/>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="StreamedRequestWebBinding" bypassProxyOnLocal="true" hostNameComparisonMode="WeakWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="10:15:00" receiveTimeout="10:15:00" sendTimeout="10:15:00" transferMode="StreamedRequest" useDefaultWebProxy="false">
                    <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
                </binding>
            </webHttpBinding>
        </bindings>
        <services>
            <service name="PortalGatewayUserRolesServer.UserRolesService">
                <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RestfulBehavior" bindingConfiguration="StreamedRequestWebBinding" contract="PortalGatewayUserRolesServer.IUserRolesService"/>
            </service>
        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="RestfulBehavior">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        <directoryBrowse enabled="true"/>
    </system.webServer>
    <system.web>
        <compilation targetFramework="4.8"/>
    </system.web>
</configuration>