<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="Folder" value="C:/Logs/PortalGateway/Logs" />
    <targets>
        <target name="UsersFile" xsi:type="File"
                layout="${longdate} ${level:upperCase=true}: ${message}"
                fileName="${Folder}/Activity/Users.${shortdate}.log"
                keepFileOpen="false"
                encoding="iso-8859-2" />
        <target name="EventsFile" xsi:type="File"
                layout="${longdate} ${level:upperCase=true}: ${message}"
                fileName="${Folder}/Activity/Events.${shortdate}.log"
                keepFileOpen="false"
                encoding="iso-8859-2" />
        <target name="NetworkFile" xsi:type="File"
                layout="${longdate} ${level:upperCase=true}: ${message}"
                fileName="${Folder}/Network/Network.${shortdate}.log"
                keepFileOpen="false"
                encoding="iso-8859-2" />
    </targets>
    <rules>
        <logger name="Users" minlevel="Info"
                writeTo="UsersFile" />
        <logger name="Events" minlevel="Info"
                writeTo="EventsFile" />
        <logger name="Network" minlevel="Info"
                writeTo="NetworkFile" />
    </rules>
</nlog>