<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Portal gateway parameters -->
        <add key="DomainPaths" value="&quot;{AD-DOMAIN-A}&quot;,&quot;;{AD-DOMAIN-B}&&quot;"/>
        <add key="UserRolesServerUrl" value="http://localhost:8080/UserRolesService.svc"/>
        <add key="CookieExpirationTime" value="20"/>
        <!-- Portal gateway module parameters -->
        <add key="HttpTimeout" value="-1"/>
        <add key="HttpReadWriteTimeout" value="-1"/>
        <add key="ForwardUrl" value="https://forward.url.com"/>
        <add key="ForwardStartupPath" value="/welcome.html"/>
        <add key="ForwardCertificateThumbprint" value="{FORWARD-CERTIFICATE-THUMBPRINT}"/>
        <add key="ContentControlFilePath" value=""/>
	<add key="CompanyName" value="{COMPANY-NAME}"/>
        <add key="CompanyRequestor" value="{COMPANY-REQUESTOR}"/>
        <add key="NetworkLogEnabled" value="true"/>		
	<add key="ExcludePaths" value=""/>
        <add key="ExcludeCookies" value=""/>
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>