<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Portal gateway parameters -->
        <add key="DomainPaths" value="&quot;{AD-DOMAIN-A}&quot;,&quot;;{AD-DOMAIN-B}&quot;"/>
        <add key="UserRolesServerUrl" value="http://localhost:8080/UserRolesService.svc"/>
        <add key="CookieExpirationTime" value="20"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>